.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.container:hover {
	cursor: crosshair;
}

.container.removal:hover {
  cursor: crosshair;
}

.biocrowds {
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 1fr;
  border-top: 3px solid black;
}

.top-left-column {
  grid-area: 1/1;
  margin-left: 4%;
  margin-top: 2%;
}

.bottom-left-column {
  margin-left: 2%;
  grid-area: 2/1;
  position: absolute;
  bottom: 3%;
}

.top-right-column {
  grid-area: 1/2;
  margin-right: 3%;
  margin-top: 3%;
}

.bottom-right-column {
  margin-right: 1%;
  grid-area: 2/2;
}

.container {
  grid-area: 1/1/span 2/span 2;
}

.agents {
  float: right;
}

.agentGroup {
  float: left;
  margin-left: 1em;
}

.addAgentGroup {
  float: right;
  margin-right: 38%;
  transform: rotate(45deg);
}

.agentInfo {
  float: none;
}

.infos {
  font-family: Cambria Math;
  float: right;
  margin-right: 3%;
  margin-top: -10%;
}

.info {
  position: relative;
  font-size: 20px;
}

.checkmark.group0 {
  background-color: #aa7aff;
}

.checkmark.group1 {
  background-color: #ff73e1;
}

.checkmark.group2 {
  background-color: #45f0e0;
}

.checkmark.group3 {
  background-color: #abf475;
}

.checkmark.group4 {
  background-color: #ffcb3a;
}

.group0 {
  color: #aa7aff;
}

.group1 {
  color: #ff73e1;
}

.group2 {
  color: #45f0e0;
}

.group3 {
  color: #abf475;
}

.group4 {
  color: #ffcb3a;
}

.checkmark.obstacle {
  background-color: #ff9038;
}

.checkmark.remove {
  background-color: #ff414e;
}

.checkmark.play {
  background-color: #1eea9b;
}

.checkmark.save {
  background-color: #78a1ff;
}

.checkmark.random {
  background-color: #97d7ea;
}

.tools {
	width: 1%;
	padding-top: 2%;
	z-index: 1;
	position: relative;
}

.tools input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #ddd;
  border-radius: 50%;
}

.checkmark.goal {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #ddd;
  border-radius: 50%;
}

.tool:hover input ~ .checkmark {
  background-color: #fff;
}

.tool input:checked ~ .checkmark {
  background-color: rgb(58, 58, 58);
}

.checkmark.goal {
  background-color: #ffcb3a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.tool .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.tool {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 50px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tool input {
  margin-left: 0px;
}