<div class="biocrowds">
	<div class="top-left-column">
		<div class="tools">
			<label class="tool">
				<input type="radio" name="tool" value="play" (click)="play()">
				<img class="checkmark play" src="assets/images/play.png">
			</label>
			<label class="tool">
				<input type="radio" name="tool" value="save" (click)="save()">
				<img class="checkmark save" src="assets/images/save.png">
			</label>
			<label class="tool">
				<input type="radio" name="tool" value="obstacle" (change)="handleChange($event, 0)" [ngModel]="selectedTool">
				<img class="checkmark obstacle" src="assets/images/obstacle.png">
			</label>
			<label class="tool">
				<input type="radio" name="tool" value="removal" (change)="handleChange($event, 0)" [ngModel]="selectedTool">
				<img class="checkmark remove" src="assets/images/remove.png">
			</label>
		</div>
	</div>
	<div class="bottom-left-column">
		<div class="tools">
			<label class="tool">
				<input type="checkbox" [(ngModel)]="randomPaths" (change)="changeOptions()">
				<img class="checkmark random" src="assets/images/random.png">
			</label>
		</div>
	</div>
	<div class="top-right-column">
		<div class="agents">
			<div *ngFor="let group of agentPositions[0];let i = index">
				<div class="agentGroup">
					<label class="tool">
						<input type="radio" name="tool" value="agent" (change)="handleChange($event, i)">
						<img class="checkmark group{{i}}" src="assets/images/person.png">
					</label>
				</div>
				<div class="agentGroup">
					<label class="tool">
						<input type="radio" name="tool" value="goal" (change)="handleChange($event, i)">
						<img class="checkmark group{{i}}" src="assets/images/target.png">
					</label>
				</div>
				<div class="agentGroup">
					<label class="tool">
						<input type="radio" name="tool" value="prediction" (change)="handleChange($event, i)">
						<img class="checkmark group{{i}}" src="assets/images/curved-arrow.png">
					</label>
				</div>
			</div>
			<div class="addAgentGroup" *ngIf="agentPositions[0].length < 5">
				<label class="tool">
					<input type="radio" name="tool" value="add" (click)="addGroup()" [ngModel]="selectedTool">
					<img class="checkmark goal" src="assets/images/remove.png">
				</label>
			</div>
		</div>
	</div>
	<div class="bottom-right-column">
		<div class="infos">
			<div class="agentInfo">
				<div class="info">
					&Tau;&nbsp; {{ (responseTime | number:'1.2-2') + 's'}}
				</div>
				<div class="info">
					&Delta;t {{' ' + (elapsedTime | number:'1.2-2') + ' s' }}
				</div>
			</div>
			<div class="agentInfo">
				<div *ngFor="let info of infos; let i = index">
					<div class="info group{{i}}">
						 {{'v&#773;&nbsp;&nbsp;&nbsp;' + ((info.currentSpeed | number:'1.2-2')) + ' m/s'}}
					</div>
					<div class="info group{{i}}">
						s {{'&nbsp;&nbsp;' + ((info.totalDistance | number:'1.2-2')) + ' m'}}
					</div>
					<div class="info group{{i}}">
						s&#773; {{'&nbsp;&nbsp;' + ((info.averageDistance | number:'1.2-2')) + ' m'}}
					</div>
					<div class="info group{{i}}">
						d&#773; {{'&nbsp;&nbsp;' + ((info.averageDivergence | number:'1.2-2')) + ' m'}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div #container class="container" [ngClass]="{'removal': selectedTool === 'removal'}" (click)="addObject()" ></div>
</div>

<div class="loading" *ngIf="loading"></div>